<div id="home-container">
    <div id="welcome-bar">
        <h2>Welcome!</h2>
        <div class="hover-button" onclick="signOut()">Sign out</div>
    </div>
    <div id="status-container">
        <div id="status">
            <div id="status-message">
                Status: <%= statusMessage %>
            </div>
            <div id="todo-message">
                <%- todoMessage %>
            </div>
        </div>
    </div>
</div>