:root {
    --color-background: #f5f5f5;
    --color-highlight: #FCD20C;
    --color-dark-highlight: #D8B30E;
    --color-dark-text: rgba(27, 27, 27);
    --color-light-text: rgb(170, 170, 170);
}

html {
    background-color: var(--color-background);
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

body {
    height: 100%;
    margin: 0;
}

#container {
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

#main {
    margin-bottom: 30px;
    min-width: 700px;
    width: 700px;
    height: 550px;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2), 0 9px 30px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    overflow: hidden;
}

h2 {
    margin: 0;
    font-weight: 300;
    font-size: 18px;
}

p {
    margin: 0;
}

#topbar {
    display: none;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color-highlight);
    width: 14%;
}

.nav-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    width: 70px;
    height: 70px;
    border-radius: 15px;
}

.nav-icon:hover {
    cursor: pointer;
    background-color: var(--color-dark-highlight);
}

.icon {
    height: 29px;
    margin-top: 5px;
}

#logo {
    margin: auto;
    width: 200px;
}
.caret {
    margin-top: -15px;
}

#main-body {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 70%;
    margin: auto;
}

.required {
    display: inline;
    color: red;
}

#login {
    width: 50%;
}

.nav-message {
    font-size: 12px;
}

.nav-message:hover {
    text-decoration: underline;
    cursor: pointer;
}

#sign-up-message {
    font-size: 16px;
    text-align: center;
    color: #5f5f5f;
}

#sign-up {
    display: inline-block;
    color: var(--color-dark-text);
}

#sign-up:hover {
    text-decoration: underline;
    cursor: pointer;
}

#error-message {
    color: red;
    padding-bottom: 8px;
}

#login-button {
    width: 100%;
}

input, option {
    font-weight: 300;
    color: var(--color-dark-text);
}

.input {
    font-size: 16px;
}

.select {
    margin-bottom: 10px;    
}

.select > label {
    padding-right: 7px;
}

#upload {
    padding-bottom: 10px;
}

#role {
    margin-bottom: 10px;
}

.edit-button {
    width: 15px;
}

#download-icon {
    padding-left: 5px;
    width: 20px;
    color: var(--color-dark-text);
}

#resume-name {
    display: inline-block;
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
    padding-top: 20px;
    padding-bottom: 15px;
}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: var(--color-light-text);
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}

#home-container {
    width: 80%;
    height: 80%;
}

#welcome-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#welcome-bar h2 {
    font-size: 25px;
}

.hover-button {
    color: #5f5f5f;
    cursor: pointer;
    display: inline;
}
.hover-button:hover {
    text-decoration: underline;
}

#status-container {
    padding-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#status {
    text-align: center;
    width: 400px;
    padding: 20px;
    background-color: #d4d4d4;
    border-radius: 15px;
}

#status-message {
    font-size: 22px;
}

@media screen and (max-width: 800px) {
    #topbar {
        display: block;
        position: absolute;
        top: 0;
        text-align: center;
        font-size: 16px;
        padding: 8px;
        width: 100%;
        background-color: var(--color-highlight);
    }

    #container {
        padding-top: 0;
        height: 100%;
    }

    #main {
        min-width: 100%;
        width: 100%;
        height: auto;
        border-radius: 0px;
        box-shadow: none;
        display: block;
        margin-bottom: 70px;
        overflow-y: scroll;
    }

    #sidebar {
        flex-direction: row;
        width: 100%;
        position: absolute;
        bottom: 0;
        height: 70px;
        z-index: 30;
    }

    .nav-icon {
        width: 33vw;
        border-radius: 0px;
    }
    .nav-icon:hover {
        background-color: inherit;
    }

    #main-body {
        width: 100%;
        margin-top: 40px;
        padding-top: 25px;
        margin-bottom: 30px;
    }

    #status-container {
        padding-top: 30px;
    }

    .form {
        width: 60%;
        margin: auto;
    }
}


@media screen and (max-width: 700px) {
    .form {
        width: 80%;
    }
    
    #login {
        width: 75%;
    }
}